@import 'tailwindcss/base';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --aiesec-blue: #037ef3;
}

body {
    background-color: #FFFFFF;
    @apply font-sans;

}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
